@model FundProjectAPI.DTOs.ProjectDto



<h1 style="text-align:center;"> Product @Model.Title</h1>


<table class="content-table" style="position:absolute; right:400px !important;">
    <tr><td><b>Id</b></td> <td>@Model.Id</td></tr>

    <tr><td><b>Category</b></td>   <td>@Model.Category</td></tr>
    <tr><td><b>Goal</b></td>   <td>@Model.Goal</td></tr>
    <tr><td><b>GoalGained</b></td>   <td>@Model.GoalGained</td></tr>

</table>

