@model FundProjectAPI.DTOs.ProjectDto


<div class="wrapper">
    <div class="sidebar">
        <h2>Creator</h2>
        <ul>
            <li><a href="/Creator/Index"><i class="fas fa-qrcode"></i>Dashboard</a></li>
            <li><a href="/Creator/Projects"><i class="fas fa-stream"></i>All Projects</a></li>
            <li><a href="/Creator/Profile"><i class="fas fa-user"></i>Profile</a></li>
            <li><a href="/Creator/MyProjects"><i class="fas fa-project-diagram"></i>My Projects</a></li>
        </ul>
    </div>
</div>


<h1 style="text-align:center;"> Product @Model.Title</h1>


<table class="content-table" style="position:absolute; right:400px !important;">
    <tr><td><b>Id</b></td> <td>@Model.Id</td></tr>

    <tr><td><b>Category</b></td>   <td>@Model.Category</td></tr>
    <tr><td><b>Goal</b></td>   <td>@Model.Goal</td></tr>
    <tr><td><b>GoalGained</b></td>   <td>@Model.GoalGained</td></tr>

</table>

<form method="post" asp-action="Delete" >
    <input type="submit" value="Delete Project" style="position: absolute; bottom: 350px; right: 47%; background-color: #1F7A8C; color: white; box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); border-radius: 5px;" />
</form>

<form asp-action="CreateReward" >
    <input type="submit" value="Create new package" style="position: absolute; top:100px; right: 28%; background-color: #1F7A8C; color: white; box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); border-radius: 5px;" />
</form>